<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>378719423663-7hia6gg4n72oe77frng3t2e2e214rvlv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.378719423663-7hia6gg4n72oe77frng3t2e2e214rvlv</string>
	<key>API_KEY</key>
	<string>AIzaSyDVHhzgebPSb2Wug4IHWSJam00sUSkRzY8</string>
	<key>GCM_SENDER_ID</key>
	<string>378719423663</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.maksym.tymchyk.KunaTicker</string>
	<key>PROJECT_ID</key>
	<string>kuna-ticker-mobile</string>
	<key>STORAGE_BUCKET</key>
	<string>kuna-ticker-mobile.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:378719423663:ios:e2ba905791605b7f</string>
	<key>DATABASE_URL</key>
	<string>https://kuna-ticker-mobile.firebaseio.com</string>
</dict>
</plist>